In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['squared_error','friedman_mse','absolute_error','poisson'],'max_features':['sqrt','log2','None'],'n_estimators':[100,1000]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent, dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
26 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'None' instead.

--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'None' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.83265357 0.83505933 0.8352526  0.83479638        nan        nan
 0.83560197 0.83481865 0.83256553 0.83479916        nan        nan
 0.83353489 0.83429151 0.83192315 0.83437123        nan        nan
 0.833068   0.83517952 0.83317511 0.83483327        nan        nan]
  warnings.warn(
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2', 'None'],
                         'n_estimators': [100, 1000]},
             verbose=3)

In [8]:
re=grid.cv_results_
print(" best parameter {}:".format(grid.best_params_))

 best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [9]:
table=pd.DataFrame.from_dict(re)

In [10]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.174722,0.062798,0.040614,0.007654,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.859237,0.776940,0.862703,0.826596,0.837792,0.832654,0.030909,14
1,11.726598,0.815453,0.356894,0.019280,squared_error,sqrt,1000,"{'criterion': 'squared_error', 'max_features':...",0.858665,0.779326,0.864135,0.831436,0.841734,0.835059,0.030221,4
2,1.362583,0.033359,0.056237,0.018746,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.859583,0.785173,0.865103,0.829160,0.837244,0.835253,0.028398,2
3,13.536828,1.018801,0.367524,0.024455,squared_error,log2,1000,"{'criterion': 'squared_error', 'max_features':...",0.859293,0.779899,0.862826,0.829785,0.842180,0.834796,0.029930,8
4,0.006249,0.007653,0.000000,0.000000,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
5,0.006498,0.004788,0.000000,0.000000,squared_error,None,1000,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
6,1.727563,0.232865,0.064155,0.019924,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857705,0.781603,0.863115,0.833152,0.842434,0.835602,0.029031,1
7,12.760678,1.105683,0.375158,0.055220,friedman_mse,sqrt,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.859689,0.780429,0.862490,0.830233,0.841252,0.834819,0.029682,6
8,1.495651,0.220491,0.042090,0.009256,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859146,0.776173,0.861547,0.826867,0.839094,0.832566,0.030989,15
9,12.414450,0.743450,0.353484,0.011776,friedman_mse,log2,1000,"{'criterion': 'friedman_mse', 'max_features': ...",0.858939,0.781145,0.861578,0.830389,0.841943,0.834799,0.029152,7
10,0.000000,0.000000,0.000000,0.000000,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
11,0.000000,0.000000,0.000000,0.000000,friedman_mse,None,1000,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
12,3.710992,0.266378,0.049988,0.011690,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.851751,0.777313,0.863660,0.829053,0.845897,0.833535,0.030243,11
13,36.138266,1.860547,0.433948,0.067242,absolute_error,sqrt,1000,"{'criterion': 'absolute_error', 'max_features'...",0.859285,0.781300,0.856740,0.829278,0.844855,0.834292,0.028543,10
14,3.528084,0.184002,0.037491,0.007652,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856918,0.780738,0.854764,0.825527,0.841669,0.831923,0.027937,16
15,36.110131,1.027593,0.381543,0.081049,absolute_error,log2,1000,"{'criterion': 'absolute_error', 'max_features'...",0.859107,0.780944,0.857868,0.829923,0.844015,0.834371,0.028744,9
16,0.003723,0.006061,0.000000,0.000000,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
17,0.005163,0.005851,0.000000,0.000000,absolute_error,None,1000,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
18,1.562109,0.101597,0.052181,0.015095,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.854908,0.778249,0.864133,0.826181,0.841869,0.833068,0.030239,13
19,17.116092,0.955863,0.407332,0.046105,poisson,sqrt,1000,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859630,0.782076,0.861516,0.831223,0.841452,0.835180,0.028867,3
20,1.813962,0.253778,0.053240,0.006202,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.856218,0.781898,0.860517,0.829695,0.837547,0.833175,0.028068,12
21,14.994232,0.663028,0.280151,0.032050,poisson,log2,1000,"{'criterion': 'poisson', 'max_features': 'log2...",0.859418,0.780274,0.862443,0.830274,0.841757,0.834833,0.029706,5
22,0.001197,0.000977,0.000000,0.000000,poisson,None,100,"{'criterion': 'poisson', 'max_features': 'None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
23,0.000399,0.000798,0.000000,0.000000,poisson,None,1000,"{'criterion': 'poisson', 'max_features': 'None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17